[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipdb = "*"

[packages]

xlrd = "*"
requests = "*"
scrapy = "*"
requests-threads = "*"


[requires]

python_version = "3.6"